@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@theme{
    --font-display: "Sora","sans-serif";
    --font-sora: "Sora", sans-serif;
    --color-main: #9538E2;
}

button{
    cursor: pointer;
}